[Unit]
Description=Contest Runtime
DefaultDependencies=no
After=local-fs.target
Before=display-manager.service
ConditionKernelCommandLine=!contest.install_mode=full

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/lib/contest/deploy.sh
StandardOutput=journal+console
StandardError=journal+console

TimeoutStartSec=1800

[Install]
WantedBy=multi-user.target
